* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #575656;
}

/* Style the track (the background part of the scrollbar) */
::-webkit-scrollbar-track {
  border-radius: 50px; /* Optional: Rounded corners for the track */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #a8a6a6; /* Set the color of the thumb */
  border-radius: 50px; /* Optional: Rounded corners for the thumb */
}

/* Style the thumb when it's hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #c4c0c0; /* Change the color when the user hovers over the thumb */
}
